# binary files
*.class
*.pyc

# ignore any child folder named bin
**/bin/
**/playground
target/

# media files
*.png

# Libraries
libs/
lib/

# IDE related
.idea/
*.iml
.DS_Store
.classpath
.project

# python runtime
.Python
include/
out/
pip-selfcheck.json
venv/
