# binary files
*.class
*.pyc
libs/
# ignore any child folder named bin
**/bin/
target/

# private files
src/main/python/private/

# media files
*.png

# IDE related
.idea/
*.iml
.DS_Store
.classpath
.project
